
@{

    Layout = "~/Views/Shared/_LayoutBigStore.cshtml";
    ViewBag.Title = "About";
}


@Html.Partial("~/Views/Shared/Partials/_PageUpper.cshtml")


@Html.Partial("~/Views/Shared/Partials/_PageLower.cshtml")

@*Put any of desired single page content here*@

<h2 style="color:green; font-weight:bold; font-family:Gabriola"> @ViewBag.Title</h2>
<h4> @ViewBag.Messaga</h4>





