@{
    Layout = "~/Views/Shared/_LayoutBigStore.cshtml";
}



@Html.Partial("~/Views/Shared/Partials/_PageUpper.cshtml")


@*// sets the a slide for the landing....*@
@Html.Partial("~/Views/Shared/Partials/_PageBannerSlide.cshtml")


@Html.Partial("~/Views/Shared/Partials/_PageLower.cshtml")


 @*// input any other render body tags here*@
<div class="row">
    <div class="col-md-4">
        
        <h2> Who we are</h2>
        <div> <img /></div>
    </div>
    <div class="col-md-4">
        <h2> What we do</h2>
        <div> <img /></div>

    </div>
    <div class="col-md-4">
        <h2>
            how we do
        </h2>
        <div> <img /></div>
    </div>
    
</div>