<div class="col-md-7 banner-off">
    <h2>AJAOKO FAMRS</h2>
    <label>For all your Farm Produce,Tools,Labour and Expertise Needs <b>VALUE</b></label>
    <p> BUY REGULATED PRODUCTS AND SERVICES ,BE A MERCHANT, OFFER YOUR PROFESSIONAL AGRICULATURAL EXPERTISE SUPPORT....</p>
    <span class="on-get">JOIN US NOW !</span>
</div>

<article style="position: absolute; width: 100%; opacity: 0;">
        <div class="banner-matter">
            <div class="col-md-5 banner-bag">
                <img class="img-responsive " src="~/Template/assets/images/heypesticide_hero.jpg" alt="Brown Leather Bag " />
            </div>
            <div class="col-md-7 banner-off">
                <h2>Ajaoko Farms</h2>
                <label>For all your Farm Produce,Tools,Labour and Expertise Needs <b>VALUE</b></label>
                <p> BUY REGULATED PRODUCTS AND SERVICES ,BE A MERCHANT, OFFER YOUR PROFESSIONAL AGRICULATURAL EXPERTISE SUPPORT....</p>
                <span class="on-get">JOIN US NOW !</span>
            </div>

            <div class="clearfix"> </div>
        </div>

    </article>

<article style="position: absolute; width: 100%; opacity: 0;">
    <div class="banner-matter">
        <div class="col-md-5 banner-bag">
            <img class="img-responsive " src="~/Template/assets/images/organic farming.jpg" alt="Brown Back Bag" />
        </div>
        <div class="col-md-7 banner-off">
            <h2>AJAOKO FAMRS</h2>
            <label>For all your Farm Produce,Tools,Labour and Expertise Needs <b>VALUE</b></label>
            <p> BUY REGULATED PRODUCTS AND SERVICES ,BE A MERCHANT, OFFER YOUR PROFESSIONAL AGRICULATURAL EXPERTISE SUPPORT....</p>
            <span class="on-get">JOIN US NOW !</span>
        </div>

        <div class="clearfix"> </div>
    </div>

</article>