@model AdunbiKiddies.ViewModel.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_LayoutSales.cshtml";

}
@using (Ajax.BeginForm("RemoveFromCart", "ShoppingCart", new AjaxOptions() {UpdateTargetId = "cartIndex", OnComplete = "showlayout" }))
{
    <div id="cartIndex">
        @{ Html.RenderAction("CartIndex", "ShoppingCart"); }
    </div>
}





<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    function showlayout() {
        window.alert("hello");
        @*//$('#mycart').load(@Url.Action("PartialIndex", "ShoppingCart"));*@
        $("#mycart").html(@Url.Action("PartialIndex", "ShoppingCart"));
    }
</script>