                </div>
        </a>
<ul class="wmuSliderPagination">
    <li><a href="#" class="">0</a></li>
    <li><a href="#" class="">1</a></li>
    <li><a href="#" class="">2</a></li>
</ul>
<script src="~/Template/assets/js/jquery.wmuSlider.js"></script>
<script>
	       			$('.example1').wmuSlider();
</script>
    </div>
</div>
