<div stye="padding:20px; align:center; font-size:16px" class="btn- btn-default-light"> Go Direct to Product Page </div></div>

<div class="container">
    <div class="shoes-grid">
        <a href="single.html">
            <div class="wrap-in">
                <div class="wmuSlider example1 slide-grid">
                <div class="wmuSliderWrapper">
                