<!DOCTYPE html>

<html>
<head>
  
  <title>AJAOKO FARMS</title>
    <link href="~/Template/assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

    <!--theme-style-->
    <link href="~/Template/assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Template/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Template/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/Template/css/owl.carousel.css" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script src="~/Template/assets/js/jquery.min.js"></script>
   
</head>
<body>

    <!--Headers Partial-->
    @Html.Partial("~/Views/Shared/Partials/_HeaderPartial.cshtml")

    <div class="container">
    @RenderBody()
    </div>
    <!--Category Partial-->

    @*@Html.Partial("~/Views/Shared/Partials/_CategoryPartial.cshtml")*@

    <div class="clearfix"> </div>
    <!--Render the Footer Patial-->
    @Html.Partial("~/Views/Shared/Partials/_FooterPartial.cshtml")


@RenderSection("scripts", required: false)
</body>
</html>
