@model AdunbiKiddies.ViewModels.OrderPaymentVm

@{
    ViewBag.Title = "Address And Payment";
    Layout = "~/Views/Shared/_LayoutSales.cshtml";

}

@*<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/card.js"></script>
<link rel="stylesheet" href="~/Content/card.css">*@
<br />

<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <!-- Checkout Adress-->
        <div class="col-xl-9 col-lg-8">
            <div class="checkout-steps">
                @*<a href="#" id="review">3. Review</a>*@
            @Ajax.ActionLink("3. Review", "ReviewCart", null, new AjaxOptions
       {
           OnComplete = "reviewbutton",
           UpdateTargetId = "display", // <-- DOM element ID to update
           HttpMethod = "GET" // <-- HTTP method
       }, new { @class = "", id = "review" })
            @Ajax.ActionLink("2. Shipping", "Shiping", null, new AjaxOptions
       {
           OnComplete = "shippingbutton",
           UpdateTargetId = "display", // <-- DOM element ID to update
           HttpMethod = "GET" // <-- HTTP method
       }, new { @class = "", id = "shipping" })<span class="angle"></span>
            @Ajax.ActionLink("1. Address", "Address", null, new AjaxOptions
         {
             OnComplete = "addressbutton",
             UpdateTargetId = "display", // <-- DOM element ID to update
             HttpMethod = "GET" // <-- HTTP method
         }, new { @class = "active", id = "address" })
        </div>

            @*<a class="active" href="#" id="address">1. Address</a>*@
         
          
            <div id="display">
            @{Html.RenderAction("Address", "Checkout");}
            </div>
            </div>
        <!-- Sidebar          -->
        <div class="col-xl-3 col-lg-4">
            <aside class="sidebar">
                <div class="padding-top-2x hidden-lg-up"></div>
                <!-- Order Summary Widget-->
                <section class="widget widget-order-summary">
                    <h3 class="widget-title">Order Summary</h3>
                    @if (Model != null)
                    {
                        <table class="table">
                            <tr>
                                <td>Cart Subtotal:</td>
                                <td class="text-medium">#@Model.TotalAmount</td>

@if (Model.ShippingDetail != null)
{
    <tr>
        <td>Shipping:</td>
        <td class="text-medium">#@Model.ShippingDetail.BuildingNo</td>
    </tr>
}                           
                       
                            <tr>
                                <td></td>
                                @{ var total = Model.TotalAmount + 5;}
                                <td class="text-lg text-medium">@total</td>
                            </tr>
                        </table>
                    }
                   
                </section>
                <!-- Featured Products Widget-->
              
                <!-- Promo Banner-->
                <section class="promo-box" style="background-image: url(img/banners/02.jpg);"><span class="overlay-dark" style="opacity: .4;"></span>
                    <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
                        <h4 class="text-light text-thin text-shadow">New Collection of</h4>
                        <h3 class="text-bold text-light text-shadow">Sunglasses</h3><a class="btn btn-outline-white btn-sm" href="shop-grid-ls.html">Shop Now</a>
                    </div>
                </section>
            </aside>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">

    function shippingbutton() {
            $("#shipping").attr("class", "active");
            $("#address").attr("class", "");
            $("#review").attr("class", "");
           
        };
    
    function reviewbutton() {
            $("#review").attr("class", "active");
            $("#shipping").attr("class", "");
            $("#address").attr("class", "");
       
        };
    
    function addressbutton() {
            $("#address").attr("class", "active");
            $("#shipping").attr("class", "");
            $("#review").attr("class", "");

    }
    </script>